{% extends 'layouts/web.html' %}
{% import "macros/common.html" as common with context %}



{% block page_content %}
    <div class="container">
        {% set user = current_user %}
        <h1>List of Users</h1>
        <div class="users-listing">
            {% for user in users %}
                <div class="row">
                    <div class="col-md-7">
                        <div class="card px-2 py-2">
                            <div class="row">
                                <div class="col-md-1">
                                    <a href="{{ url_for('dashboard.user_profile', username=user.username) }}"
                                       class="href">
                                        <img src="{{ user.gravatar_url }}"
                                             class="rounded-circle" width="50px"/>
                                    </a>
                                </div>
                                <div class="col-md-11">

                                    <h5 class="card-title font-weight-bold"><a
                                            href="{{ url_for('dashboard.user_profile', username=user.username) }}"
                                            class="href">{{ user.name }}</a>
                                        <span class="text-muted h6 pl-0">{{ '@' + user.username }}</span>
                                        <span class="text-muted h6 px-1">{{ user.created_at | get_relative_time }}</span>
                                    </h5>


                                    {% if user.id == current_user.id %}
                                        <button type="button" class="btn btn-outline-secondary disabled" disabled>
                                            Follow
                                        </button>
                                    {% elif not current_user.is_following(user) %}
                                        <button type="button" class="btn btn-outline-primary follow-btn"
                                                data-username="{{ user.username }}">Follow
                                        </button>
                                    {% else %}
                                        <button type="button" class="btn btn-primary unfollow-btn"
                                                data-username="{{ user.username }}">Unfollow
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}


{% block page_js %}
    <script>
        $(document).ready(function () {
            $('.follow-btn').click(function (event) {
                event.preventDefault();
                let element = $(this);
                let username = element.data("username");
                console.log('username', username);
                $.ajax({
                    url: '/api/v1/' + username + '/follow',
                    type: 'POST',
                    data: {username: username},
                    datatype: 'json',
                    success: function (data) {
                        console.log(data);
                        element.html("Unfollow");
                        element.removeClass('btn-outline-primary');
                        element.addClass('btn-primary')
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        let error_code = jqXHR.status;
                        let error_message = jqXHR.responseJSON.error_message;
                        /* TODO: Add error class in textarea section */
                        console.log('error_code', error_code);
                        console.log('error_message', error_message);
                        console.log('jqXHR', jqXHR);

                        console.log('textStatus', textStatus);
                        console.log('errorThrown', errorThrown);
                    }
                })
            });
        });

    </script>

    <script>
        $(document).ready(function () {
            $('.unfollow-btn').click(function (event) {
                event.preventDefault();
                let element = $(this);
                let username = element.data("username");
                console.log('username', username);
                $.ajax({
                    url: '/api/v1/' + username + '/unfollow',
                    type: 'POST',
                    data: {username: username},
                    datatype: 'json',
                    success: function (data) {
                        console.log(data);
                        element.html("Follow");
                        element.addClass('btn-outline-primary');
                        element.addClass('follow-btn');
                        element.removeClass('btn-primary');
                        element.removeClass('unfollow-btn');

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        let error_code = jqXHR.status;
                        let error_message = jqXHR.responseJSON.error_message;
                        /* TODO: Add error class in textarea section */
                        console.log('error_code', error_code);
                        console.log('error_message', error_message);
                        console.log('jqXHR', jqXHR);

                        console.log('textStatus', textStatus);
                        console.log('errorThrown', errorThrown);
                    }
                })
            });
        });

    </script>
{% endblock %}

